# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*




# Build klasörleri (client/server'a özel)
client/dist/
client/dist-ssr/
server/dist/

# Environment variables (tüm .env dosyalarını ignore et)
*.env
*.env.local

# Editor dosyaları
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
*.env
/server/serviceAccountKey.json
*.json